@import '../../styles/main.scss';

$mobile-box-width: 55px;
$desktop-box-width: 230px;

.header {
  z-index: 1000;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  background: $base-background;
  border-bottom: 1px solid $base-border-color;
  box-shadow: 0 0 1px $base-border-color;
  padding-left: $desktop-box-width;
}

.sideNav {
  width: $mobile-box-width;
  height: 100%;
  z-index: 1000;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  background: $base-background;
  border-bottom: 1px solid $base-border-color;
  box-shadow: 0 0 1px $base-border-color;
  border-right: 1px solid $base-border-color;
  h1 {
    z-index: 3;
    font-size: 20px;
    font-family: $font-family-secondary;
    font-weight: bold;
    letter-spacing: 3px;
    color: white;
    display: none;
    margin: 0;
    position: absolute;
  }
  label {
    left: 16.375px;
    color: #A5A4BF;
    z-index: 3;
    display: inline-block;
    position: relative;
    margin: 30px 0 0;
    width: 22px;
    font-size: 22px;
    cursor: pointer;
  }
  #toggle {
    z-index: 4;
    @include invisible;
  }
  #toggle:checked ~ h1 {
    left: 80px;
    display: inline-block;
    position: absolute;
    margin: 30px 0;
    text-align: center;
  }
  #toggle:checked ~ .sideBox {
    width: $desktop-box-width;
  }
  #toggle:checked ~ .sideBoxTop {
    width: $desktop-box-width;
  }
  #toggle:checked ~ ul {
    left: 16.375px;
    width: 100%;
    display: block;
    position: relative;
    margin: 30px auto;
    padding: 0;
    li {
      width: 130px;
      margin: auto;
    }
    span {
      margin: 12px 12px 12px 0;
    }
    p {
      margin: 0;
      padding: 0;
      display: inline-block;
      visibility: visible;
      opacity: 1;
    }
  }
  #toggle:checked ~ .content {
    padding-left: $desktop-box-width;
  }
  ul {
    width: 21.25px;
    z-index: 3;
    position: relative;
    margin: 30px auto;
    padding: 0;
  }
  li {
    margin: 0;
    padding: 0;
  }
  a {
    padding: 6px 0px 6px 0;
    text-decoration: none;
    font-size: 15px;
    font-family: $font-family-secondary;
    font-weight: 400;
    color: white;
    display: block;
    i {
      text-align: center;
    }
  }
  a:hover {
    color: $light-text-color;
  }
  span {
    @include inline-block;
    margin: 12px 0px 12px 0;
    i {
      font-size: 17px;
      color: #A5A4BF;
    }
  }
  p {
    margin: 0;
    padding: 0;
    display: none;
    visibility: hidden;
    opacity: 0;
    transition: visibility 0s, opacity 0.5s linear;
  }
}

.sideBoxTop {
  @include base-transition;
  height: 73px;
  width: $mobile-box-width;
  z-index: 2;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  position: fixed;
  float: left;
  display: block;
  background-color: #36354A;
  overflow-x: hidden;
}

.sideBox {
  @include base-transition;
  height: 100%;
  width: $mobile-box-width;
  z-index: 1;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  position: fixed;
  float: left;
  display: block;
  background-color: $accent-color-navy;
  overflow-x: hidden;
}

.content {
  @include base-transition;
}

.marginMobile {
  margin-left: $mobile-box-width;
}

.marginDesktop {
  margin-left: $desktop-box-width;
}

.active {
  span > i {
      color: $accent-color-purple;
  }
}