@import '../../../styles/main.scss';

header {
  z-index: 1000;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  background: $base-background;
  border-bottom: 1px solid $base-border-color;
  box-shadow: 0 0 1px $base-border-color;
  .navbar {
    height: 73px;
      .navLogo {
        @include float-left;
        @include center-vertical;
        padding-left: 15px;
        z-index: 2;
        cursor: pointer;
      }
  }
  .container {
    padding: 0;
  }
}

.menuContent {
  text-align: right;
  line-height: 73px;
  #menu {
    @include center-text;
    @include invisible;
    width: 100%;
    a {
      @include block;
      @include base-transition;
      clear: right;
      background: $base-background;
      border-bottom: 1px solid $base-border-color;
      box-shadow: 0 0 1px $base-border-color;
      color: $menu-link-color;
      font-size: 15px;
      font-family: $font-family-secondary;
      font-weight: 400;
      margin: 0;
      cursor: pointer;
      &:hover {
        color: $accent-color-blue;
      }
    }
  }
  label {
    @include block;
    @include float-right;
    margin: 0 40px 0 0 ;
    width: 26px;
    font-size: 26px;
    line-height: 73px;
    cursor: pointer;
  }
  #toggle {
    @include invisible;
  }
  #toggle:checked + #menu {
    @include block;
  }
}

.menuContent {
  @media #{$tablet} {
    @include float-right;
    @include center-vertical;
    #menu {
      @include block;
      @include list-style-none;
      li {
        @include float-left;
        @include block;
        a {
          @include base-transition;
          color: $menu-link-color;
          font-size: 15px;
          font-family: $font-family-secondary;
          font-weight: 400;
          padding: 20px 14px;
          line-height: 20px;
          border-bottom: none;
          box-shadow: none;
          cursor: pointer;
          &:hover {
            color: $accent-color-blue;
          }
        }
      }
    }
    label {
      @include invisible;
    }
    #toggle {
      @include invisible;
    }
  }
}