@import '../../../../../styles/main.scss';

.tabListItem {
  padding: 15px;
  color: #545454;
  font-weight: 700;
  cursor: pointer;
  &:hover {
    color: $accent-color-blue;
  }
}

.tabListActive {
  color: black;
  background-color: white;
  border-radius: 7px 7px 0 0;
  -webkit-box-shadow: 3px 0px 10px -1px rgba(222,222,222,0.6);
  -moz-box-shadow: 3px 0px 10px -1px rgba(222,222,222,0.6);
  box-shadow: 3px 0px 10px -1px rgba(222, 222, 222, 0.6);
}