@import '../../../styles/main.scss';

.about .oneCol {
  @include column(12);
  @media #{$tablet} {
    @include column(4);
  }
}

.about {
  padding: 50px 0;
  @include section-border-bottom;
  @include overflow-fix;
  .oneCol {
    margin-bottom: 10px;
    background-color: $base-background;
    border: 1px solid $base-border-color;
    padding: 5px;
    border-radius: 10px;
    @include center-text;
    @include base-transition;
    span {
      @include inline-block;
      margin: 15px 0;
      i {
        font-size: 50px;
        color: $accent-color-blue;
      }
    }
  }
  .oneCol:hover {
    background-color: $alternate-background;
    i {
      color: #FFF;
    }
  }
}
