@import '../../../styles/main.scss';

.Button {
    background-color: $accent-color-navy;
    border: 1px solid $accent-color-navy;
    border-radius: 5px;
    color: white;
    outline: none;
    cursor: pointer;
    font: inherit;
    padding: 15px 20px;
    margin: 15px;
    width: 80%;
}

.Button:disabled {
  color: #ccc;
  cursor: not-allowed;
}

.Success {
    color: white;
}

.Danger {
    background-color: white;
    color: $accent-color-navy;
}