@import '../../../styles/main.scss';

.Button {
    background-color: $accent-color-navy;
    border: 1px solid $accent-color-navy;
    border-radius: 5px;
    color: white;
    outline: none;
    cursor: pointer;
    font: inherit;
    padding: 15px 20px;
    margin: 25px 15px 0px;
    width: 80%;
    @media #{$phone} {
        padding: 15px 30px;
        margin: 25px 15px 0px;
        width: 40%;
    }
}

.Success {
    color: white;
}

.Danger {
    background-color: white;
    color: $accent-color-navy;
}