@import '../../../styles/main.scss';

.flexMenu {
  padding: 0 2% 0 80px;
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  z-index: 0;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
  margin: 0;
  vertical-align: baseline;
  background: $base-background;
  border-bottom: 1px solid $base-border-color;
  box-shadow: 0 0 1px $base-border-color;
}

.navContent {
  flex-direction: column;
  margin: auto;
  align-items: center;
  display: flex;
  padding-left: 0;
  list-style: none;
  @media #{$small} {
    flex-direction: row;
  }
  @media #{$phone} {
    margin: 0 0 0 auto;
  }
}

.navItem {
  border: 1px solid black;
  margin: 0;
  padding: 0;
  border: 0;
  display: list-item;
  padding-left: 4px;
  padding-right: 4px;
  line-height: 30px;
  color: $menu-link-color;
  p {
    line-height: inherit;
    margin: 0;
    display: none;
    @media #{$desktop} {
      display: block;
    }
  }
  span {
    display: none;
    @media #{$desktop} {
      display: block;
    }
  }
  @media #{$small} {
    line-height: 73px;
  }
}

.menuLink {
  a {
    color: $menu-link-color;
    font-weight: 400;
    &:hover {
      color: $accent-color-blue;
    }
    @media #{$desktop} {
      margin-right: 10px;
    }
  }
}

.navButton {
  background: none;
  border: none;
  cursor: pointer;
  overflow: visible;
  outline: none;
}

.userPhoto {
  object-fit: cover;
  width: 38px;
  height: 38px;
  border-radius: 50%;
}

.dropdownMenu {
  position: absolute;
  float: none;
  display: block;
  color: black;
  border: 1px solid black;
  border-radius: 5px;
  border-color: #b3b3b3;
  right: auto;
  left: 50%;
  top: 100%;
  z-index: 1000;
  padding: 0;
  margin: 10px 0 0 0;
  text-align: left;
  background-color: $base-background;
  @media #{$small} {
    padding: 8px 0;
    margin: -10px 2% 0 0;
  }
  @media #{$phone} {
    right: 0;
    left: auto;
  }
  a {
    color: $menu-link-color;
    font-family: $font-family-secondary;
    font-weight: 400;
    &:hover {
      color: $accent-color-blue;
    }
  }
}

.dropdownItem {
  color: black;
  display: block;
  width: 100%;
  height: 100%;
  padding: 1px 4px;
  margin: 0;
  clear: both;
  line-height: 30px;
  text-align: inherit;
  font-size: 14px;
  white-space: nowrap;
  i {
    margin-right: 10px;
    width: 18px;
    display: inline-block;
  }
  @media #{$small} {
    padding: 4px 24px;
  }
}

.dropdownItem:hover {
  background-color: $alternate-background;
}

.divider {
  color: #eaecec;
  height: 0;
  margin: 8px 0;
  overflow: hidden;
  border-top: 1px solid #e9ecef;
}

.dontShow {
  display: none;
}