@import '../../../../styles/main.scss';

.userPhoto {
    margin: 20px;
    object-fit: cover;
    width: 60px;
    height: 60px;
    border-radius: 50%;
  }

.userPhotoIcon {
  font-size: 30px;
  color: #3a3c43;
}
