@import '../../../../styles/main.scss';

.userPhoto {
    margin: 20px;
    object-fit: cover;
    width: 60px;
    height: 60px;
    border-radius: 50%;
  }

.userPhotoIcon {
  color: black;
  font-size: 30px;
  margin: 20px;
  object-fit: cover;
  width: 60px;
  height: 60px;
  border-radius: 50%;
  border: 1px solid black;
  display: flex;
  flex-wrap: wrap;
  i {
    float: none;
    flex: 0 50%;
  }
}
