@import '../../../../styles/main.scss';

.box {
  @include half-box;
  @include form;
  padding: 0px;
  p {
    padding: 10px;
  }
}

.calendar {
  width: 90%;
  background-color: white;
  margin: 20px auto 0;
}